<p>list works!</p>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th><th>Name</th><th>DOB</th><th>Location</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let q of paper1">
                <td>{{q.id}}</td>
                <td>{{q.name}}</td>
                <td>{{q.DOB}}</td>
                <td>{{q.Location}}</td>
                <td><a routerLink='/details/{{q.id}}'>
                    <button class="btn btn-success">view</button>
                </a></td>
            </tr>
        </tbody>

    </table>
</div>